<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<!-- inject:css -->
   		<!-- endinject -->
	</head>
	<body>
		<a href="#" target="_blank" id="index_top">
    		<div style="background:url(//img02.hua.com/banner/17_yongganai_banner_top.jpg) 50% 0 no-repeat;height:80px;"></div>
 		</a>
 		<div class="index_header">
 			<div class="index_header_nav">
 				<ul class="index_header_nav1">
 					<li><a href="#">
 						<span></span>
 						收藏鲜花网(hua.com)
 					</a></li>
 				</ul>
 				
 				<ul class="index_header_nav2"></ul>
 			</div> 
 		</div> 
	</body>
</html>
<!-- inject:js -->
<!-- endinject -->