<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<!-- inject:css -->
    	<!-- endinject -->
	</head>
	<body>
		<div class="index_header">
 			<div class="index_header_nav">
 				<ul class="index_header_nav1">
 					<li><a href="#">
 						<span class=""></span>
 						收藏鲜花网(hua.com)
 					</a></li>
 					<li class="hover">
 						<a href="#" class="hover_a">
 							<span></span>
 							关注微信
 						</a>
 						<div>
 							<img src="../img/app.jpg" height="124" width="124">
           					<p>扫码关注<br>回复"礼物" 更多惊喜！</p>
 						</div>
 					</li>
 					<li class="hover">
 						<a href="#" class="hover_a">
 							<span></span>
 							花礼网app
 						</a>
 						<div>
				            <img src="../img/app.jpg" height="124" width="124">
				            <p>新人专享100元APP礼包</p>
				        </div>
				    </li>
 				</ul>
 				
 				<ul class="index_header_nav2">
 					<li><a href="../login/login.html">
 						您好，请登录
 					</a>
 					<a href="#">
 						注册
 					</a></li>
 					<li class="border">|</li>
 					<li><a href="#">
 						订单查询
 					</a></li>
 					<li class="border">|</li>
 					<li class="hover"><a href="#" class="hover_a">
 						我的花礼
 					</a></li>
 					<li class="border">|</li>
 					<li class="hover">
 						<a href="#" class="hover_a">
 							客户服务
 							<span class="nav"></span>
 						</a>
 						<div>
				            <a href="/member/payment/balancefill" target="_blank">在线付款</a>
				            <a href="/help/" target="_blank">帮助中心</a>
				            <a href="/help/afterservice.htm" target="_blank">售后服务</a>
				            <a href="/help/sendRange.htm" target="_blank">配送范围</a>
				            <a href="/chat/" target="_blank">留言反馈</a>
				        </div>
 					</li>
 					<li class="border">|</li>
 					<li class="hover">
 						<a href="#" class="hover_a">
	 						<span></span>
	 						购物车
	 						<i id="num">(0)</i>
	 						<span class="nav"></span>
	 					</a>
	 					<!--<div></div>-->
 					</li>
 					<li class="border">|</li>
 					<li>
 						中国鲜花礼品网:中国鲜花网领先品牌
 					</li>
 				</ul>
 			</div> 
 		</div> 
 		
 		<header>
		    <div class="logo">
		    	<h1>
			    	<a href="#"></a>
			    </h1>
			 	<i class="border"></i>
			    <h2>中国鲜花礼品网 始于2005，简称花礼网</h2>
		    </div>
		    
		    
		    <!-- 搜索 -->
		    <div class="index_search">
		    	<form method="get">
			        <div>
			          	<input type="text" name="keyword" class="search" placeholder="商品关键词">
			          	<span class="search_btn">
			                <button id="go" type="button" >搜索</button>
			            </span>
			        </div>
			    </form>
			    
				<span class="header_hot">
			        <a href="#" target="_blank">红玫瑰</a> | <a href="#" target="_blank">永生花</a> | <a href="#" target="_blank">生日鲜花</a> | <a href="#" target="_blank">礼品卡</a>
			    </span>
		    </div>
		    
		    <!--客服-->
		    <div class="service">
		       	<span class="phone"></span>400-889-8188
		     	<a target="_blank" href="javascript:;"><span></span>在线客服</a>
		    </div>
		</header>





		<div class="login_banner">
			<div class="login">
				<div class="login_table">
					<ul class="login_register">
						<li class="active">
							<a href="#">登陆</a>
						</li>
						<li>
							<a href="#">注册</a>
						</li>
					</ul>
					<a href="#" class="phone">使用手机验证码登陆</a>
				</div>
			</div>
		</div>


		
		<form id="myform" name="myform" action="" method="post">
			<div class="e_mail">
				<div></div>
				<input type="text" />
			</div>
			<input type="submit" value=""/>
		</form>






		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
		<!-- inject:js -->
		<!-- endinject -->
	</body>
</html>